input[type="text"] {
  background-color: #f5f5f5;
  border: 2px solid #929292;
  padding-left: 10px;
  border-radius: 10px;
  font-weight: 400;
}

input[type="url"] {
  background-color: #f5f5f5;
  border: 2px solid #929292;
  padding-left: 10px;
  border-radius: 10px;
  font-weight: 400;
}

input[type="submit"] {
  width: 8vw;
  font-weight: 700;
  background-color: #2BC623;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-self: center;
  border-radius: 15px;
  border-width: 2px;
  border-color: #2BC623
}

select {
  background-color: #f5f5f5;
  border: 2px solid #929292;
  padding-left: 10px;
  border-radius: 10px;
}