body {
    background: linear-gradient(to left, #00d6ef, #9e00f3, #ca00b6, #eea71a);
    overflow-x: hidden;
    max-width: 100%;
}

#Events {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.event {
    display: flex;
    border: 2px solid white;
    border-radius: 10px 20px;
    height: 60vh;
    width: 25vw;
    margin: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-family: Verdana;
    -webkit-border-radius: 10px 20px;
    -moz-border-radius: 10px 20px;
    -ms-border-radius: 10px 20px;
    -o-border-radius: 10px 20px;
}