* {
    margin: 0;
    padding: 0;
    }
    
    header {
    background: linear-gradient(to right, #00d6ef, #9d00f3, #ca00b6);
    padding: 10px;
    }
    
    body {
    font-family: Verdana, sans-serif;
    margin: 0px;
    /* background-color: #272727; */
    background: linear-gradient(to right, #00d6ef, #9d00f3, #ca00b6)
    /* background: linear-gradient(to right, #00d6ef, #9d00f3, #ca00b6, #eea71a, #fff200); */
    }
    
    #menu2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15%;
    height: 85vh;
    }
    
    #colonne1, #colonne2,  #colonne3, #colonne4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15%;
    }
    
    #colonne4 {
        margin-right: 5%;
    }
    
    button {
    font-family: Verdana, sans-serif;
    cursor: pointer;
    background-color: #e8e8e8;
    }
    
    button.active {
    color: #121212;
    background: linear-gradient(to left, #ca00b6, #eea71a, #fff200)
    /* background-color: #535353; */
    }

    #colonne1 button:hover, #colonne2 button:hover, #colonne3 button:hover {
        background-color: #8d8d8d;
    }
    
    #colonne3 button {
    margin: 10%;
    }
    
    #colonne1 a, #colonne2 a, #colonne3 a, #colonne4 a {
    display: block;
    margin-bottom: 10px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    color: #ffffff;
    }
    
    #colonne1 a:hover, #colonne2 a:hover, #colonne3 a:hover, #colonne4 a:hover {
    text-decoration: underline;
    }
    
    #backButton { 
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        font-weight: bold; 
        font-size: 20px; 
        color: rgb(0, 0, 0);
        background: none;
        border: 0; 
        padding: var(--size-1) var(--size-2); 
        transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale)); 
        transition: transform 0.1s; 
        position: relative; 
        padding-left: 2px; 
        padding-top: 9px; 
        scale: 0.9; 
        -webkit-transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale)); 
        -moz-transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale)); 
        -ms-transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale)); 
        -o-transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    }
    
    #backButton:hover {
    --y: -10;
    --scale: 1;
    --border-scale: 0.3;
    }